html,
body {
	height: 100%;
}

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

// Font Stacks
$font-sans     : "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-pacifico : 'Pacifico', cursive;

//Font weights
$font-thin    : 100;
$font-light   : 300;
$font-normal  : 400;
$font-bold    : 700;

body {
	font-family: $font-sans;
  font-weight: $font-normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-sans;
    font-weight: $font-bold;
}

.page-header {
	padding-bottom: 0;
	margin: 0px 0 15px;
	border-bottom: 1px solid #EEE;
}
