#portfolio {
	background:#eee;
	position:relative;
}

#portfolio .container{
	padding-top:48px ;
	padding-bottom:48px ;
}

#portfolio .thumbnail {
	border: none;
	background-color: transparent;
}

#portfolio .tab-content {
	margin-top: 20px;
}
