#skills {

}
#skills .container {
  @include section-padding;
}
#skills .row {

}
.progress {
  position: relative;
  height: 25px;
}
.progress > .progress-type {
  position: absolute;
  left: 0;
  font-weight: 800;
	padding: 3px 10px 2px;
  color: #FFF;
}
.progress > .progress-completed {
  position: absolute;
  right: 0;
  font-weight: 800;
  padding: 3px 10px 2px;
}
