// Some stylesheet urls for the @imports
$bootstrap-css    : 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css';
$fontawesome-css  : 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

// Import Bootstrap Compass integration
@import url($bootstrap-css);

// import Font-awesome
@import url($fontawesome-css);

// Import Fonts
@if variable-exists(font-url-lato) {
  @import url($font-url-lato);
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
