// Web font URLs
$font-url-lato : 'http://fonts.googleapis.com/css?family=Lato:100,300,400';
$font-url-sans  : 'http://fonts.googleapis.com/css?family=PT+Serif:400,700';

// Font Stacks
$font-lato     : "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-pt-serif : 'PT Serif', serif;

//Font weights
$font-thin    : 100;
$font-light   : 300;
$font-normal  : 400;
$font-bold    : 700;