// Variables

// CSS

.navbar {
 border-radius: 0px;
 margin-bottom:0;
 z-index:999;
}

.navbar-toggle > .fa-bars {
 color: #FFF;
}

@media (min-width: 768px) {
	#navbar-collapse {float: right!important;}
	.navbar-nav > li {float: left; display: inline;}
}

.banner {
	width: 100%;
	height: 100%;
	min-height: 100%;
	color: #fff;
	@media (max-width: 768px) {
    display: none
	}
}
.banner-image {
	vertical-align: middle;
	min-height: 100%;
	width: 100%;
}
.banner:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.55);
	content: "";
}
.banner-caption {
	position: absolute;
	top: 40%;
	width: 100%;
	z-index: 2;
}

.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
	font-family: $font-pacifico;
	font-weight: $font-normal;
	color: #FFF;
}
.banner-caption h1{
	font-size: 63px;
}
