.navbar {
 border-radius: 0px;
 margin-bottom:0;
}
.navbar-toggle > .fa-bars {
 color: #FFF;
}

@media (min-width: 768px) {
	#navbar-collapse {float: right!important;}
	.navbar-nav > li {float: left; display: inline;}
}
